<!DOCTYPE html>
<html class="home">
  <head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap">
    <title>Airport</title>
    <style type="text/css">
    h1, h2 {
    color: white;
    }
  </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
    <p><%= msg %></p>
    <% end %>

    <div class="header-wrapper">
    <img src="https://www.freepnglogos.com/uploads/delta-png-logo/delta-airlines-logo-png-0.png" class="logo">

  <div class="container">
  <nav class="navbar">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav top">
      <a class="nav-link" <%= link_to 'Home', home_path %> </a>
      <a class="nav-link" <%= link_to 'Airplane Logs', airplanes_path %> </a>
      <a class="nav-link" <%= link_to 'Check In', new_airplane_path %> </a>
      <a class="nav-link" <%= link_to 'Developers', members_path %> </a>
      </ul>
    </div>
  </div>
    <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</div>


    <%= yield %>
  </body>
</html>
