<!DOCTYPE html>
<html>
<head>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
	<title></title>
      <style type="text/css">
            h1{
                  text-align: center;
                  font-size: 50px;
                  color: white;
                  padding-top: 30px;
                  margin: auto;
                  font-family: 'Open Sans', sans-serif;
            }
      </style>
</head>
<body>
	<% if @airplane.errors.any? %>

	<h2>ERRORS: </h2>
	<ul>
		<% @airplane.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>

	<% end %>
      
      <h1>EDIT</h1>     

      <%= form_for @airplane do |a| %>

      
 <div class="box">
      <div class="form-row">
            <div class="inputbox">
                  <%= a.label :code, class: "label" %>
                  <%= a.text_field :code, class: "form-control input" %>
            </div>

            <div class="inputbox">
                  <%= a.label :seat_capacity, class: "label" %>
                  <%= a.text_field :seat_capacity, class: "form-control input" %>
            </div>
      </div>

      <div class="form-row">

            <div class="inputbox">
                  <%= a.label :time_in, class: "label" %>
                  <%= a.text_field :time_in, class: "form-control input" %>
            </div >

            <div class="inputbox">
                  <%= a.label :time_out, class: "label"%>
                  <%= a.text_field :time_out, class: "form-control input" %>
            </div>
      </div>


            <div class="destination form-row">
                  <%= a.label :destination, class: "label" %>
                  <%= a.select :destination, ["Philippines" , "South Korea", "Japan", "China", "Malaysia", "Singapore", "Switzerland", "Canada"], class: "form-control" %>
            </div>

            
            <%= a.submit "Update Airport Log", class: "btn btn-primary create" %>
      <% end %>
</div>
</body>
</html>