<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	body {
		color: white;
	}
	h1 {
          text-align: center;
          font-size: 50px;
          padding-top: 30px;
          margin: auto;
          font-family: 'Open Sans', sans-serif;
	}
	 
</style>
<body>
	<h1 class="text-center">AIRPORT LOGS</h1>

	<div class="tablebox">
	<table class="table table-bordered">

	<thead>
		<th scope="col">CODE</th>
		<th scope="col">SEAT CAPACITY</th>
		<th scope="col">DESTINATION</th>
		<th scope="col">TIME IN</th>
		<th scope="col">TIME OUT</th>
		<th scope="col">CREATED AT</th>
		<th scope="col">UPDATED AT</th>
		<th scope="col">FUNCTIONS</th>
	</thead>
</div>
	<% @airplanes.each do |a| %>
		<tbody>
			<td><%= a.code %></td>
			<td><%= a.seat_capacity %></td>
			<td><%= a.destination %></td>
			<td><%= a.time_in %></td>
			<td><%= a.time_out %></td>
			<td><%= a.created_at %></td>
			<td><%= a.updated_at %></td>

			<td class="btn btn-info"><%= link_to "EDIT", edit_airplane_path(a) %></td>
			<td class="btn btn-info"><%= link_to "SHOW", airplane_path(a)%></td>
			<td class="btn btn-danger"><%= link_to "DELETE", airplane_path(a), method: :delete, data:{confirm: "Are you sure you want to delete?"} %></td>

		</tbody>
		<% end %>
	</table> 

	<div class="btn btn-default addlog">
	<%= link_to 'ADD NEW', new_airplane_path, :class => "btn" %>
	</div>

</body>
</html>